Automated AI Blog Generation.json
{
  "name": "Automated AI Blog Generation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.html || $input.first().json.body || $input.first().json.data || '';\nconst url = $input.first().json.url || '';\n\nif (!html) {\n  return [{ json: { error: 'No HTML input', url } }];\n}\n\n// ---------- TITLE ----------\nlet title = '';\nconst headings = html.match(/<h[1-2][^>]*>([\\s\\S]*?)<\\/h[1-2]>/gi) || [];\n\nfor (const h of headings) {\n  const clean = h.replace(/<[^>]*>/g, '').trim();\n  if (\n    clean.length > 20 &&\n    clean.length < 120 &&\n    !/home|menu|login|sign up|category/i.test(clean)\n  ) {\n    title = clean;\n    break;\n  }\n}\n\n// Fallback to <title>\nif (!title) {\n  const t = html.match(/<title[^>]*>(.*?)<\\/title>/i);\n  if (t) title = t[1].replace(/\\s+/g, ' ').trim();\n}\n\n// ---------- MAIN CONTENT ----------\nlet content = '';\n\n// Remove junk blocks first\nconst cleanedHtml = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '');\n\n// Grab paragraphs\nconst paragraphs = cleanedHtml.match(/<p\\b[^>]*>(.*?)<\\/p>/gi) || [];\n\nfor (const p of paragraphs) {\n  let text = p\n    .replace(/<a[^>]*>(.*?)<\\/a>/gi, '$1')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;|&#160;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  // ❌ FILTER OUT JUNK\n  const junkPatterns = [\n  /cookie/i,\n  /privacy policy/i,\n  /terms of service/i,\n  /accept/i,\n  /subscribe/i,\n  /newsletter/i,\n  /sign up/i,\n  /log in/i,\n  /related articles/i,\n  /more stories/i,\n  /follow us/i,\n  /advertisement/i,\n  /©/,\n  /all rights reserved/i\n];\n\nconst isJunk = junkPatterns.some(r => r.test(text));\n\nif (\n  text.length > 120 &&\n  !/^https?:\\/\\//i.test(text) &&\n  !/^\\d{4}-\\d{2}-\\d{2}$/.test(text) &&\n  !isJunk\n) {\n  content += text + '\\n\\n';\n}\n}\n\n// Fallback: extract meaningful sentences if paragraphs failed\nif (content.length < 300) {\n  const plain = cleanedHtml\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const sentences = plain.match(/[A-Z][^.!?]{60,}[.!?]/g) || [];\n  content = sentences.slice(0, 25).join('\\n\\n');\n}\n\n// FINAL CLEAN\ncontent = content\n  .replace(/\\b\\d{4}-\\d{2}-\\d{2}\\b/g, '')   // remove dates\n  .replace(/https?:\\/\\/\\S+/g, '')         // remove URLs\n  .replace(/\\s+\\n/g, '\\n')\n  .trim()\n  .substring(0, 15000);\n\n// ---------- OUTPUT ONLY WHAT MATTERS ----------\nreturn [{\n  json: {\n    title,\n    content,\n    url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -836
      ],
      "id": "64495505-7fcb-454e-92e8-ec826f6a7f75",
      "name": "Filter content"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1552,
        -960
      ],
      "id": "cee960bf-dd58-4c45-9fb5-b7402f30aa54",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "AQEGA7mi2jsbc14u",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1416,
        -680
      ],
      "id": "0c8f96f8-a4a6-427c-bc89-cf7b025a7a56",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qXMOOwBPZ5bv2qHU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a blog post based on the keyword: {{ $json.keyword }}\n\nSteps:\n1. Search the Supabase Vector knowledge base for \"{{ $json.keyword }}\" to retrieve relevant supporting information.\n2. Use that data to ground the article.\n3. Follow all system instructions and required structure.\n\nReturn only the blog post in clean Markdown.",
        "options": {
          "systemMessage": "=You are an expert SEO Blog Writer, Content Strategist, and SEO Copywriter specializing in AI and technology.\n\nYou have access to a Supabase Vector Store knowledge base. When a keyword is provided, you MUST retrieve relevant facts, technical insights, or examples from the knowledge base and use them to ground the article in real information.\n\nIf the knowledge base returns limited data, you may supplement with general industry knowledge, but prioritize retrieved context.\n\nYour goal is to write a comprehensive, high-quality, search-optimized blog post.\n\n------------------------\nBLOG REQUIREMENTS\n------------------------\n\nLength: 1500–2000 words\n\nTone: Professional yet conversational (use \"you\" and \"we\")\n\nSEO Rules:\n- Naturally use the keyword in:\n  - H1 title\n  - First paragraph\n  - At least one H2\n- Avoid keyword stuffing\n- Write for humans first, SEO second\n\n------------------------\nSTRUCTURE (MANDATORY)\n------------------------\n\n# H1 Title  \nEngaging, clear, and keyword-optimized\n\n## Introduction  \nHook the reader and clearly introduce the topic and keyword\n\n## H2 Sections  \nMultiple detailed sections exploring different aspects of the topic\n\n### Use bullet lists where helpful\n\n## FAQ Section  \nAnswer common, relevant questions related to the keyword\n\n## Conclusion  \nStrong wrap-up + light CTA encouraging engagement or action\n\n------------------------\nKNOWLEDGE BASE USAGE (CRITICAL)\n------------------------\n\nYou MUST:\n1. Use the Supabase Vector Store retrieval tool to search for context related to the keyword.\n2. Incorporate retrieved facts, explanations, or examples naturally into the article.\n3. Do NOT mention the database or retrieval process in the final output.\n\nOutput must be clean Markdown. Output ONLY the blog post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1376,
        -1392
      ],
      "id": "bb3f0ea0-952e-46ef-8b1e-1b712a7015ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search using the vector Data",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1472,
        -1168
      ],
      "id": "1ac131a4-11ac-4556-af0d-96cb38d2f88a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "qXMOOwBPZ5bv2qHU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1840,
        -1184
      ],
      "id": "a1ff9d13-b4b9-438f-950d-de91a7fb6211",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsCode": "// Simple HTML to Google Drive converter with link preservation\nconst boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\n// Process HTML to ensure links are preserved\nfunction preserveLinks(htmlContent) {\n    // Ensure all links have proper attributes for Google Drive\n    let processedHtml = htmlContent;\n    \n    // Fix any malformed or incomplete link tags\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi, '<a href=\"$1\">$2</a>');\n    \n    // Ensure links have proper protocol\n    processedHtml = processedHtml.replace(/<a\\s+href=[\"'](?!https?:\\/\\/|mailto:|tel:)([^\"']+)[\"']>/gi, '<a href=\"https://$1\">');\n    \n    return processedHtml;\n}\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\n// Process the HTML content to preserve links\nconst processedHtmlContent = preserveLinks(htmlContent);\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n    h2 {\n      margin-top: 20pt;\n    }\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n    /* Ensure links are styled properly for Google Drive */\n    a {\n      color: #1155cc;\n      text-decoration: underline;\n    }\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${processedHtmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -1184
      ],
      "id": "2cafa659-acb3-4bda-b203-0706c7095e57",
      "name": "Prepare_Request"
    },
    {
      "parameters": {
        "path": "blog/generation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -1088
      ],
      "id": "4d30b08d-b686-402d-bdf1-84eef0c8e47b",
      "name": "Wait for trigger",
      "webhookId": "fc5b1678-a97a-441d-ae31-02663d4b268a"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1344,
        -1168
      ],
      "id": "2511af63-3e20-423a-9ce6-f0cfc4c0bef8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lp6K0eOPcvjsaxjW",
          "name": "Groq account e2m"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69bbfdc5-06a1-417a-8de5-0675e8240a68",
              "name": "keyword",
              "value": "={{ $json.body.keyword }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -1088
      ],
      "id": "bae44430-cb98-45a3-aba6-1b1303638ba8",
      "name": "Filter Out Keyword"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "94e354be5c8d04eec4ea3f7d543cab6a5713d57c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -800
      ],
      "id": "d3952d8e-8c58-4a4c-9ef8-8c28894b28d0",
      "name": "Fetchs URL"
    },
    {
      "parameters": {
        "jsCode": "const blocked = [\"youtube.com\", \"facebook.com\", \"twitter.com\", \"instagram.com\", \"reddit.com\"];\n\nconst urls = $json.organic\n  .filter(r => !blocked.some(b => r.link.includes(b)))\n  .slice(0, 5)\n  .map(r => ({\n    url: r.link,\n    title: r.title,\n    snippet: r.snippet\n  }));\n\nreturn urls;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -800
      ],
      "id": "57d084ae-8b5c-4805-8f48-6d5b00d45662",
      "name": "Top 5 URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozila 5.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -836
      ],
      "id": "0bab6b97-96f6-47a1-bfc1-5cbc23920e93",
      "name": "Scrap URLs",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst found = items.find(item => item.json.keyword);\n\nreturn [\n  {\n    json: {\n      keyword: found ? found.json.keyword : null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -1184
      ],
      "id": "7f4c8b83-d4a2-4162-88dd-e1ed43f16136",
      "name": "Keyword Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42",
              "name": "document_name",
              "value": "=Blog: {{ $json.output.match(/^#\\s(.+)/)[1].trim() }}\n\n\n",
              "type": "string"
            },
            {
              "id": "48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6",
              "name": "html_content",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "22b02fba-ba72-423a-b92f-1191a183a554",
              "name": "drive_folder_id",
              "value": "1d1B_OUzu6n4LTA_8F6bE9RVAZy77zGoi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        -1184
      ],
      "id": "68735a62-fe9d-4e44-96ae-2188d1b69897",
      "name": "set_fields_for_google",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "multipart"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=divider",
        "body": "={{ $json.rawData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        -1184
      ],
      "id": "ff557cdf-66b5-4101-967c-d440d0148a61",
      "name": "Create & Append to Docs",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7myoFENk6VCeDrnC",
          "name": "Google Drive account"
        },
        "googleDocsOAuth2Api": {
          "id": "RG0tZnE2A7d7Fq6t",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -1184
      ],
      "id": "9a0b8749-b0f0-46ae-bed7-3eefd81795b7",
      "name": "Wait to Store Supabase"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A83AJSNTS",
          "mode": "id"
        },
        "text": "=Hey Team 👋🏻,\n\nHere’s the Generated blog post on {{ $json.name.replace(/\\n/g, \"\") }}. \n\nYou can check it out here:\n🔗 https://docs.google.com/document/d/{{$json.id }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2736,
        -1184
      ],
      "id": "4bd671b7-7125-44e7-9e71-700668030bf2",
      "name": "Send Blog to Slack",
      "webhookId": "2ba0569a-a753-4088-a3ec-d3eb7778087a",
      "credentials": {
        "slackApi": {
          "id": "HtRnvplxGBedCX1J",
          "name": "Mohit_slack_e2m_TESTBOT"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1488,
        -456
      ],
      "id": "dcd8276e-1ca4-434d-b5aa-4c24d47ce1f9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        -800
      ],
      "id": "004a9aa8-a640-47e9-94b2-37c13a017ea7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -800
      ],
      "id": "9fda0302-d637-4f54-9298-278f24ce0d91",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {
    "Wait for trigger": [
      {
        "json": {
          "headers": {
            "host": "intervolute-nonplausible-lelia.ngrok-free.dev",
            "user-agent": "PostmanRuntime/7.51.1",
            "content-length": "149",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "cache-control": "no-cache",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryaqaHzu21pdXPeEB8",
            "postman-token": "f7346a9c-d8b6-4297-a882-9815b6c61bad",
            "x-forwarded-for": "45.116.56.166, 54.86.50.139",
            "x-forwarded-host": "intervolute-nonplausible-lelia.ngrok-free.dev",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "keyword": "India Latest Tech News"
          },
          "webhookUrl": "https://intervolute-nonplausible-lelia.ngrok-free.dev/webhook-test/blog/generation",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Filter content": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "set_fields_for_google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Request": {
      "main": [
        [
          {
            "node": "Create & Append to Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for trigger": {
      "main": [
        [
          {
            "node": "Filter Out Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Keyword": {
      "main": [
        [
          {
            "node": "Fetchs URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait to Store Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetchs URL": {
      "main": [
        [
          {
            "node": "Top 5 URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrap URLs": {
      "main": [
        [
          {
            "node": "Filter content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_fields_for_google": {
      "main": [
        [
          {
            "node": "Prepare_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait to Store Supabase": {
      "main": [
        [
          {
            "node": "Keyword Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create & Append to Docs": {
      "main": [
        [
          {
            "node": "Send Blog to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait to Store Supabase",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Scrap URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "86627339-355b-4186-a147-0d5e215c70cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59c459b1a6099976fed79f9b6ba5f0bfe7b4ace292af3ecabf89a067823e7c89"
  },
  "id": "vYaf8xKf1ssvnbt8IQzuZ",
  "tags": []
}