Transcript Actions.json
{
  "name": "Transcript Actions",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "387f56a7-e891-487c-bfc2-cdc6090e03e1",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        688,
        384
      ],
      "id": "a61777b9-9e08-438f-9176-ddabc5a848fe",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lp6K0eOPcvjsaxjW",
          "name": "Groq account e2m"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"action\": \"Update landing page copy\",\n    \"assignee\": \"Sarah\",\n    \"priority\": \"High\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        384
      ],
      "id": "c24786bf-61de-4751-8674-23630369474e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f606f15d-58cb-405e-9942-f71fabdf6f16",
              "name": "Transcript",
              "value": "[00:01] Hey team, we need to update the landing page copy. [00:12] Sarah will redesign the hero section. [00:25] Mike should set up analytics tracking. [00:40] Schedule a follow-up meeting next week",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        160
      ],
      "id": "c9c335db-a84e-4f50-8e95-3b829b4dece6",
      "name": "Set Transcript",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const transcript = $json.Transcript;\n\n// Remove timestamps like [00:12]\nconst cleaned = transcript.replace(/\\[\\d{2}:\\d{2}\\]/g, \"\").trim();\n\nreturn [\n  {\n    json: {\n      cleanedTranscript: cleaned\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        160
      ],
      "id": "999227c1-cdd7-46d8-9872-23d8d4b18676",
      "name": "Fix Transcript",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        160
      ],
      "id": "76d5e94f-2943-4205-931a-bab506c5d75d",
      "name": "Split Actions"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2f74fa149474808bbb6dc7abe8c7ffa1",
          "mode": "id"
        },
        "title": "={{ $json.action }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Priority|select",
              "selectValue": "={{ $json.priority }}"
            },
            {
              "key": "Assigned To|select",
              "selectValue": "={{ $json.assignee }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1248,
        160
      ],
      "id": "9d366543-3fbe-427c-bb74-7e5c7d718207",
      "name": "Creat Actions",
      "credentials": {
        "notionApi": {
          "id": "ejamqLY3W07Sc13F",
          "name": "Notion account TRAINING TEST"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract action items from this meeting transcript and include action, assignee, and priority.\n\nTranscript:\n{{$json.cleanedTranscript}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI assistant that analyzes meeting transcripts and extracts structured action items.\n\nFor each action item, identify:\n1. Action — a clear, concise task description\n2. Assignee — the person responsible (if mentioned, otherwise \"Unassigned\")\n3. Priority — High, Medium, or Low based on urgency, deadlines, or importance implied in the text\n\nReturn ONLY valid JSON as an array of objects in this format:\n\n[\n  {\n    \"action\": \"Task description\",\n    \"assignee\": \"Person name or Unassigned\",\n    \"priority\": \"High | Medium | Low\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        160
      ],
      "id": "b47f12ec-6670-4b4c-b4f7-1466e162234a",
      "name": "Action ITEMS Creation"
    },
    {
      "parameters": {
        "content": "## Fathom API\n**Transcript using Fathom calls**",
        "height": 272,
        "width": 960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -256
      ],
      "typeVersion": 1,
      "id": "01edaa4c-544f-40b9-9f3c-c022da892b64",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Static Transcript\n",
        "height": 256,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        80
      ],
      "typeVersion": 1,
      "id": "776cc28e-745c-4080-a8a7-1614aa1677f6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Transcript array\nconst transcript = data.transcript;\n\nif (!transcript || transcript.length === 0) {\n  throw new Error(\"Transcript is empty\");\n}\n\nlet conversation = \"\";\nlet lastSpeaker = null;\n\nfor (const line of transcript) {\n  const speaker = line.speaker?.display_name || \"Unknown\";\n  const text = line.text?.trim();\n\n  if (!text) continue;\n\n  // If speaker changes, start a new paragraph\n  if (speaker !== lastSpeaker) {\n    conversation += `\\n\\n${speaker}: ${text}`;\n    lastSpeaker = speaker;\n  } else {\n    // Same speaker → continue sentence flow\n    conversation += ` ${text}`;\n  }\n}\n\nconversation = conversation.trim();\n\nreturn [\n  {\n    json: {\n      cleanedTranscript: conversation\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -176
      ],
      "id": "ed506964-e84f-45e4-857b-5db6b1dd2943",
      "name": "Filter Transcript"
    },
    {
      "parameters": {
        "url": "https://api.fathom.ai/external/v1/meetings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "liruPA4OH1zMn7LcHZj8WQ.-noj4trva_Ao10gTcKjMIWcb6lyH29_Op7HkgquzQqI"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -176
      ],
      "id": "0ba6e1af-a61c-4f62-9e2d-13d0836a85bc",
      "name": "Take the Call Transcript"
    },
    {
      "parameters": {
        "jsCode": "// The HTTP node returned an array with one object\n// That object contains: { items: [ {...meeting...} ], next_cursor, limit }\n\nconst response = $input.first().json;\n\n// Safety checks\nif (!response.items || response.items.length === 0) {\n  throw new Error(\"No meetings found in Fathom response\");\n}\n\n// Get the first meeting\nconst firstMeeting = response.items[0];\n\n// Return the recording_id so next nodes can use it\nreturn [\n  {\n    json: {\n      recording_id: firstMeeting.recording_id,\n      meeting_title: firstMeeting.meeting_title,\n      share_url: firstMeeting.share_url\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -176
      ],
      "id": "29705d7e-a16e-4426-b7b6-cf67fdca7528",
      "name": "Take the latest call"
    },
    {
      "parameters": {
        "url": "=https://api.fathom.ai/external/v1/recordings/{{ $json.recording_id }}/transcript ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "liruPA4OH1zMn7LcHZj8WQ.-noj4trva_Ao10gTcKjMIWcb6lyH29_Op7HkgquzQqI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -176
      ],
      "id": "5b8e2d43-b348-455a-a20a-5d49b4b36221",
      "name": "Fetch its's Transcript"
    }
  ],
  "pinData": {
    "Take the Call Transcript": [
      {
        "json": {
          "items": [
            {
              "title": "Fathom Demo",
              "meeting_title": "Fathom Demo",
              "url": "https://fathom.video/calls/549827043",
              "created_at": "2026-01-29T12:32:32Z",
              "scheduled_start_time": "2021-09-16T20:40:00Z",
              "scheduled_end_time": "2021-09-16T21:00:00Z",
              "recording_id": 118112641,
              "recording_start_time": "2021-09-16T20:42:47Z",
              "recording_end_time": "2026-01-29T12:32:32Z",
              "calendar_invitees_domains_type": "only_internal",
              "transcript": null,
              "transcript_language": "unknown",
              "default_summary": null,
              "action_items": null,
              "calendar_invitees": [
                {
                  "name": "Susannah DuRant",
                  "email": "susannah.durant@fathom.video",
                  "email_domain": "fathom.video",
                  "is_external": false,
                  "matched_speaker_display_name": null
                },
                {
                  "name": "Mohit Pillai",
                  "email": "mohit.pillai@e2m.solutions",
                  "email_domain": "e2m.solutions",
                  "is_external": false,
                  "matched_speaker_display_name": null
                }
              ],
              "recorded_by": {
                "name": "Mohit Pillai",
                "email": "mohit.pillai@e2m.solutions",
                "email_domain": "e2m.solutions",
                "team": null
              },
              "share_url": "https://fathom.video/share/Cxotsan2XznQjQrFzWP7bQW95C1a5Rjc",
              "crm_matches": null
            }
          ],
          "next_cursor": "",
          "limit": 10
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Fetch its's Transcript": [
      {
        "json": {
          "transcript": [
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "All right.",
              "timestamp": "00:00:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Hello.",
              "timestamp": "00:00:01"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And welcome to Fathom.",
              "timestamp": "00:00:01"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I'm Richard White, founder of Fathom.",
              "timestamp": "00:00:03"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And this call here is designed to be just a quick sample recording.",
              "timestamp": "00:00:05"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We're actually gonna do a demo of Fathom, but we figure we give you a demo.",
              "timestamp": "00:00:09"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So you'd have a sample recording that's already in your Fathom account.",
              "timestamp": "00:00:12"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So even if you haven't done a call with Fathom yet, you have something to play around with and see.",
              "timestamp": "00:00:15"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "What do you get out of fathom after using it on a call?",
              "timestamp": "00:00:19"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Joining me today is Susanna from our growth and success team.",
              "timestamp": "00:00:21"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Hi Suz.",
              "timestamp": "00:00:25"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "How are you?",
              "timestamp": "00:00:26"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Hey, doing great.",
              "timestamp": "00:00:26"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "How are you?",
              "timestamp": "00:00:27"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Cool.",
              "timestamp": "00:00:28"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So let me go ahead and share my screen here so we can kind of start the demo.",
              "timestamp": "00:00:29"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I just share my desktop now.",
              "timestamp": "00:00:35"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I'm using the Zoom app version of Fathom.",
              "timestamp": "00:00:38"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We also have a desktop.",
              "timestamp": "00:00:41"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "That version has a few more features in it and kind of see at the top here.",
              "timestamp": "00:00:42"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "But when you're on the call, whether you're using a desktop app or the Zoom map, you'll see what we call the Fathom panel right here.",
              "timestamp": "00:00:46"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And the whole concept of Fathom is I built Fathom because I always tired of being on a bunch of calls with people and trying to hurt.",
              "timestamp": "00:00:52"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We take notes while.",
              "timestamp": "00:00:59"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "On the call, having clean up those notes after the call is over and then showing my team or my manager a week later and then being like this or whatever.",
              "timestamp": "00:01:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Right.",
              "timestamp": "00:01:09"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And so the whole goal of Fathom is we don't want you to take notes.",
              "timestamp": "00:01:09"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We want you just to stay present the conversation.",
              "timestamp": "00:01:12"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "When you hear something interesting or noteworthy, you click one of these buttons, so we'll show them how this works.",
              "timestamp": "00:01:14"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Why don't I just go ahead and and us what's, like a top question you get from our users and what's the answer to it?",
              "timestamp": "00:01:19"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Yeah.",
              "timestamp": "00:01:26"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "I think that one of the main questions that I get is actually how that highlights works.",
              "timestamp": "00:01:27"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "So when you're on a call, then attend and you hear something important that you're wanting to note, you can actually just click one of those highlights and it'll start marking that moment for you.",
              "timestamp": "00:01:30"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "The cool thing here is it is actually going to detect when that attendee started talking and retroactively start recording, so you can be sure you'll get that entire monologue.",
              "timestamp": "00:01:38"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Another thing to note is that when you start talking again, that highlight is going to automatically stop.",
              "timestamp": "00:01:46"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "However, if you're wanting to manually end it, you have that choice as well.",
              "timestamp": "00:01:51"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Cool.",
              "timestamp": "00:01:54"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Yeah.",
              "timestamp": "00:01:56"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I think that's one of the unique things you can see here, like, as soon as I started talking again.",
              "timestamp": "00:01:56"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And it said, cool, that highlight is ended.",
              "timestamp": "00:02:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "If you notice, you don't have to know.",
              "timestamp": "00:02:01"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Obviously, I'm not going to immediately know that this thing you're saying, it's noteworthy.",
              "timestamp": "00:02:04"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "It's often like, oh, you're 30 seconds in.",
              "timestamp": "00:02:07"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I'm like, wow, this is really interesting.",
              "timestamp": "00:02:09"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Some great feedback he would like to see.",
              "timestamp": "00:02:10"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Or this is a really interesting objection or something like that.",
              "timestamp": "00:02:12"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You click that button.",
              "timestamp": "00:02:14"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "But Fat won't go back in time and figure out, as Sus mentioned.",
              "timestamp": "00:02:15"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So that's basically what you do.",
              "timestamp": "00:02:19"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "It very straightforward.",
              "timestamp": "00:02:20"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You can type notes.",
              "timestamp": "00:02:21"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I think when I'm collecting accidents on call, I might write a one word note just so if I need to refer back to within the call, but our best path just don't write any notes.",
              "timestamp": "00:02:23"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We have the option, too.",
              "timestamp": "00:02:31"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "But we really say, like, keep your hands off your keyboard on the call.",
              "timestamp": "00:02:32"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Just focus on the conversation.",
              "timestamp": "00:02:35"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Now, after the call is over, one of the things we get to is the call recording.",
              "timestamp": "00:02:37"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And so if I open up the call recording here, I open up an example one.",
              "timestamp": "00:02:44"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So when the call is over, you get something that kind of looks like this.",
              "timestamp": "00:02:49"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Right.",
              "timestamp": "00:02:53"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So we've got your entire recording.",
              "timestamp": "00:02:53"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You've got the entire transcript.",
              "timestamp": "00:02:55"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "But most importantly, we have the moments that you highlighted.",
              "timestamp": "00:02:57"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And you can kind of jump right directly back to them.",
              "timestamp": "00:03:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So the workflow for Fathom typically is, you know, a push button hole on the call.",
              "timestamp": "00:03:03"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "The call is over.",
              "timestamp": "00:03:08"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I come in here.",
              "timestamp": "00:03:09"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I jumped to my thing.",
              "timestamp": "00:03:10"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I'm, like, scan the transcript or what's in the club and say, oh, yes.",
              "timestamp": "00:03:11"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I remember that she was explaining that her should a use case that was for internal.",
              "timestamp": "00:03:14"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Right.",
              "timestamp": "00:03:20"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So you kind of just do that, walking down in the rest of action, trans and insights.",
              "timestamp": "00:03:21"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You could still take your notes.",
              "timestamp": "00:03:25"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "But now you're doing it with the benefit of the recording.",
              "timestamp": "00:03:26"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You're not live on a conversation, and you can kind of do it pretty briefly.",
              "timestamp": "00:03:28"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Suzanne, quick question for you.",
              "timestamp": "00:03:33"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "What would you say is, like, the top feature or the top like, the killer feature of kind of like this kind of post call recording piece.",
              "timestamp": "00:03:35"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Good question.",
              "timestamp": "00:03:45"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "I think one that I like a lot and we've seen a lot of our users, like, a lot so far is going to be that CRM sync.",
              "timestamp": "00:03:47"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "So most folks I talked to, in fact, Fathom is able to actually directly sync all of your call notes right into your CRM.",
              "timestamp": "00:03:52"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Your CRM.",
              "timestamp": "00:03:59"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "So that you don't manually have to, which is a post admin saving that time.",
              "timestamp": "00:04:00"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "That is a game changer.",
              "timestamp": "00:04:04"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "That's great.",
              "timestamp": "00:04:06"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Yeah.",
              "timestamp": "00:04:07"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So what things we do is once you do fill this in, we can create these auto generate summaries and you can get a summary that you can copy and paste in Google Docs into notion into an email to a prospect somewhere for action is actually is.",
              "timestamp": "00:04:08"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We want to specifically send into our Asana copy and paste in there.",
              "timestamp": "00:04:20"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We've got that.",
              "timestamp": "00:04:23"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "But certain you're using Salesforce, you're using HubSpot, we can automatically connect to that.",
              "timestamp": "00:04:23"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And basically these are kind of auto generated based upon the moments I selected.",
              "timestamp": "00:04:29"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "One thing to also note that I think people can always know if you miss something after the call, you can come back in here and you know, oh, I miss this insight, right?",
              "timestamp": "00:04:35"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I can immediately flag it afterwards, or I can flag an action item.",
              "timestamp": "00:04:44"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And the other thing that's cool is if I type as you update anything, if you come back later and update it, it's going to immediately sync and re update that thing you share.",
              "timestamp": "00:04:47"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So Fathom is kind of.",
              "timestamp": "00:04:58"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Always in sync with what's happening in your serum.",
              "timestamp": "00:05:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You updated the blah, blah, cool.",
              "timestamp": "00:05:03"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Let's see.",
              "timestamp": "00:05:07"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Is there anything else on this page that I didn't cover that I probably should have, Susannah?",
              "timestamp": "00:05:07"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "I think the one thing another question that we typically get is how people can actually get to this page and find their call recordings.",
              "timestamp": "00:05:12"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "So one way you can do that is when the call is over, you'll see the live panel itself actually transition to a screen that will say view recording.",
              "timestamp": "00:05:19"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "Clicking on that button will pop up this call recording screen that you see here.",
              "timestamp": "00:05:27"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "But one other way that you can get those recordings is simply go to Fathom video.",
              "timestamp": "00:05:31"
            },
            {
              "speaker": {
                "display_name": "Susannah DuRant",
                "matched_calendar_invitee_email": null
              },
              "text": "So a couple of options there for you.",
              "timestamp": "00:05:35"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Cool.",
              "timestamp": "00:05:36"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Yeah.",
              "timestamp": "00:05:37"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "One of the killer features of Fathom is how quickly you will get this.",
              "timestamp": "00:05:37"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You will get your call recording if you're familiar with using Zoom Cloud Recording or any other app.",
              "timestamp": "00:05:42"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "It also takes 510 something, 20 or 30 minutes to get that recording.",
              "timestamp": "00:05:47"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "As soon as your call is over, usually within 5 seconds.",
              "timestamp": "00:05:52"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We will have the recording ready for you.",
              "timestamp": "00:05:55"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And that's really killer because we found.",
              "timestamp": "00:05:57"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I don't want to wait 30 minutes later to review what happened and get it all to the right places.",
              "timestamp": "00:06:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "One, two.",
              "timestamp": "00:06:04"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Asking I want to highlight is that you have the ability to share this.",
              "timestamp": "00:06:05"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You can either share just the recording and the transcript, or you can share basically your view with all the things you highlighted.",
              "timestamp": "00:06:11"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So you want to send this to internal your manager or something or share with your team.",
              "timestamp": "00:06:17"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We also have a team view.",
              "timestamp": "00:06:22"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "If you are working on a team and you'll see each other's calls, if your manager does just picking Susanna or or just go up here and hit help message us, we'll get you set that something we're beta testing, but the last thing is, not only can you share the I call, you can also share individual clips, so I can take a copy of this clip and even open this up in an Incog needle.",
              "timestamp": "00:06:24"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And if I sent this into one of my team members, hey, check this part out.",
              "timestamp": "00:06:45"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I got some interesting feedback.",
              "timestamp": "00:06:48"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Or this is an interesting mention of a competitor.",
              "timestamp": "00:06:50"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "You can watch just that portion of the call that we pull out and probably the like, the sexiest, technological things.",
              "timestamp": "00:06:52"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We can also wire up the slack.",
              "timestamp": "00:07:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So one of the things that you might have seen is I got these old Slack icons here.",
              "timestamp": "00:07:02"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "The inside one is a Slack icon.",
              "timestamp": "00:07:06"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And that's because I have basically connected this button to a channel.",
              "timestamp": "00:07:08"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And so when Suzanne earlier was giving that answer about what's the tough question within about 30 seconds of her finishing that we had this video in the Slack channel.",
              "timestamp": "00:07:14"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And this is pretty powerful stuff.",
              "timestamp": "00:07:22"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "If you can get busy, a live stream of product feedback that's happening on your customer calls were one of my favorites is I have a button here for tech questions.",
              "timestamp": "00:07:24"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So if I get tech question on a call, I don't know the answer to.",
              "timestamp": "00:07:31"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Rather than doing a follow, my team, get back to you later.",
              "timestamp": "00:07:34"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "I push that button within 30 seconds.",
              "timestamp": "00:07:36"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "It's in an engineering channel.",
              "timestamp": "00:07:39"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "My engineers are looking at it.",
              "timestamp": "00:07:40"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "They're listing to the question in the customers on the words, they're slacking me back the answer.",
              "timestamp": "00:07:41"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "And so it helps me look really smart on these calls.",
              "timestamp": "00:07:45"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Cool as everything I think you want to cover.",
              "timestamp": "00:07:48"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Thank you so much for trying out our products.",
              "timestamp": "00:07:51"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "If you have any feedback, there's just great feedback button in the corner of.",
              "timestamp": "00:07:54"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "The app.",
              "timestamp": "00:08:00"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "Please send us feedback.",
              "timestamp": "00:08:01"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We love it.",
              "timestamp": "00:08:02"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We read all of it.",
              "timestamp": "00:08:03"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "We're trying to get some product that every day.",
              "timestamp": "00:08:04"
            },
            {
              "speaker": {
                "display_name": "Richard White",
                "matched_calendar_invitee_email": "rich@fathom.video"
              },
              "text": "So thanks so much.",
              "timestamp": "00:08:06"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Action ITEMS Creation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Action ITEMS Creation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript": {
      "main": [
        [
          {
            "node": "Fix Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Transcript": {
      "main": [
        []
      ]
    },
    "Split Actions": {
      "main": [
        [
          {
            "node": "Creat Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action ITEMS Creation": {
      "main": [
        [
          {
            "node": "Split Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Transcript": {
      "main": [
        [
          {
            "node": "Action ITEMS Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take the Call Transcript": {
      "main": [
        [
          {
            "node": "Take the latest call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take the latest call": {
      "main": [
        [
          {
            "node": "Fetch its's Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch its's Transcript": {
      "main": [
        [
          {
            "node": "Filter Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b2dca5e9-611b-4f40-af57-1bc75e07a8b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59c459b1a6099976fed79f9b6ba5f0bfe7b4ace292af3ecabf89a067823e7c89"
  },
  "id": "BiYRHM6ypDTqL4gNpYZ6E",
  "tags": []
}