Transcript Actions.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "387f56a7-e891-487c-bfc2-cdc6090e03e1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "a61777b9-9e08-438f-9176-ddabc5a848fe",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lp6K0eOPcvjsaxjW",
          "name": "Groq account e2m"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"action\": \"Update landing page copy\",\n    \"assignee\": \"Sarah\",\n    \"priority\": \"High\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        208
      ],
      "id": "c24786bf-61de-4751-8674-23630369474e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f606f15d-58cb-405e-9942-f71fabdf6f16",
              "name": "Transcript",
              "value": "[00:01] Hey team, we need to update the landing page copy. [00:12] Sarah will redesign the hero section. [00:25] Mike should set up analytics tracking. [00:40] Schedule a follow-up meeting next week",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c9c335db-a84e-4f50-8e95-3b829b4dece6",
      "name": "Set Transcript"
    },
    {
      "parameters": {
        "jsCode": "const transcript = $json.Transcript;\n\n// Remove timestamps like [00:12]\nconst cleaned = transcript.replace(/\\[\\d{2}:\\d{2}\\]/g, \"\").trim();\n\nreturn [\n  {\n    json: {\n      cleanedTranscript: cleaned\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "999227c1-cdd7-46d8-9872-23d8d4b18676",
      "name": "Fix Transcript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract action items from this meeting transcript and include action, assignee, and priority.\n\nTranscript:\n{{$json.cleanedTranscript}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI assistant that analyzes meeting transcripts and extracts structured action items.\n\nFor each action item, identify:\n1. Action — a clear, concise task description\n2. Assignee — the person responsible (if mentioned, otherwise \"Unassigned\")\n3. Priority — High, Medium, or Low based on urgency, deadlines, or importance implied in the text\n\nReturn ONLY valid JSON as an array of objects in this format:\n\n[\n  {\n    \"action\": \"Task description\",\n    \"assignee\": \"Person name or Unassigned\",\n    \"priority\": \"High | Medium | Low\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "b47f12ec-6670-4b4c-b4f7-1466e162234a",
      "name": "Action ITEMS Creation"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "76d5e94f-2943-4205-931a-bab506c5d75d",
      "name": "Split Actions"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2f74fa149474808bbb6dc7abe8c7ffa1",
          "mode": "id"
        },
        "title": "={{ $json.action }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Priority|select",
              "selectValue": "={{ $json.priority }}"
            },
            {
              "key": "Assigned To|select",
              "selectValue": "={{ $json.assignee }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "9d366543-3fbe-427c-bb74-7e5c7d718207",
      "name": "Creat Actions",
      "credentials": {
        "notionApi": {
          "id": "ejamqLY3W07Sc13F",
          "name": "Notion account TRAINING TEST"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Action ITEMS Creation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Action ITEMS Creation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript": {
      "main": [
        [
          {
            "node": "Fix Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Transcript": {
      "main": [
        [
          {
            "node": "Action ITEMS Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action ITEMS Creation": {
      "main": [
        [
          {
            "node": "Split Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Actions": {
      "main": [
        [
          {
            "node": "Creat Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b1132f2f-344f-4c45-a062-7e1189c08401",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59c459b1a6099976fed79f9b6ba5f0bfe7b4ace292af3ecabf89a067823e7c89"
  },
  "id": "BiYRHM6ypDTqL4gNpYZ6E",
  "tags": []
}